1. **Загружает данные из dataset.csv в DataFrame. Заголовок csv-файла при
этом должен быть проигнорирован.**

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving dataset.csv to dataset.csv

In [3]:
data = pd.read_csv('dataset.csv')

df = pd.DataFrame(data)

print(df)

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [4]:
df.head(3)

   Rank               Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1         Wii Sports      Wii  ...      3.77        8.46        82.74
1     2  Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3     Mario Kart Wii      Wii  ...      3.79        3.31        35.82

[3 rows x 11 columns]

In [5]:
df.describe()

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

In [6]:
df.shape

(16598, 11)

2. **Выводит заданное количество идущих подряд строк из любой заданной позиции датафрейма.**

In [7]:
print(df.loc[[1, 5, 8, 9]])

   Rank                       Name  ... Other_Sales  Global_Sales
1     2          Super Mario Bros.  ...        0.77         40.24
5     6                     Tetris  ...        0.58         30.26
8     9  New Super Mario Bros. Wii  ...        2.26         28.62
9    10                  Duck Hunt  ...        0.47         28.31

[4 rows x 11 columns]

In [ ]:
print(df.loc[[0, 5, 8], ['Genre']])

      Genre
0    Sports
5    Puzzle
8  Platform

3. **Находит все уникальные жанры (Genre) в исходных данных и разделя-
ет загруженный датафрейм по жанровым датафреймам (например, в от-
дельных датафреймах должны размещаться жанры Shooter, Racing, Fighting,
Puzzle и т.д.).**

In [8]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [9]:
df.nunique()

Rank            16598
Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

4. **Упорядочивает строки в каждом из образованных жанровых дата-
фреймов по возрастанию значений в столбце Year (например, 1985, 1986,
1987 и т. д.).**

In [10]:
#df.sort_values(['Year'], ascending=[False]) 
#df.sort_values(by='Year', inplace=True) 
df.sort_values(by='Year', ascending = True, inplace=True) 
df.head(8)

      Rank             Name Platform  ...  JP_Sales Other_Sales Global_Sales
6896  6898         Checkers     2600  ...       0.0        0.00         0.24
2669  2671           Boxing     2600  ...       0.0        0.01         0.77
5366  5368          Freeway     2600  ...       0.0        0.00         0.34
1969  1971         Defender     2600  ...       0.0        0.01         1.05
1766  1768          Kaboom!     2600  ...       0.0        0.01         1.15
6317  6319           Bridge     2600  ...       0.0        0.00         0.27
544    545  Missile Command     2600  ...       0.0        0.03         2.76
258    259        Asteroids     2600  ...       0.0        0.05         4.31

[8 rows x 11 columns]

5. **В каждом из полученных жанровых датафреймов производит переин-
дексацию по возрастанию индекса (порядок строк внутри датафреймов не
должен изменяться – соответствует пункту 4).**

In [11]:
df1_sorted = df.sort_index(axis=1, ascending=False) #axis=0 для столбцов, axis=1 для строк
df1_sorted.head()

        Year  Rank   Publisher  ... Global_Sales     Genre EU_Sales
6896  1980.0  6898       Atari  ...         0.24      Misc     0.01
2669  1980.0  2671  Activision  ...         0.77  Fighting     0.04
5366  1980.0  5368  Activision  ...         0.34    Action     0.02
1969  1980.0  1971       Atari  ...         1.05      Misc     0.05
1766  1980.0  1768  Activision  ...         1.15      Misc     0.07

[5 rows x 11 columns]

In [12]:
df2_sorted = df.sort_index(axis=0, ascending=False) #axis=0 для столбцов, axis=1 для строк
df2_sorted.head()

        Rank  ... Global_Sales
16597  16600  ...         0.01
16596  16599  ...         0.01
16595  16598  ...         0.01
16594  16597  ...         0.01
16593  16596  ...         0.01

[5 rows x 11 columns]

6. ***Сохраняет результаты в csv-файлы.***

In [18]:
#df.to_csv('dataset.csv')
df.to_csv('C:\\Python_ML\\Lesson_8\\dataset.csv', columns =['Genre'])