1. Объединяет два Pandas датафрейма (df1 и df2) по двум столбцам (x_1, 
y_1 и x_2, y_2), так чтобы остались только:
 общие строки – создает df3 (предусмотреть наличие аргументов 
left_on и right_on для индексов «левого» и «правого» датафремов);
 остались все строки – создает df4.

In [25]:
# Загрузить библиотеку
import pandas as pd
import numpy as np

In [26]:
# Создать фрейм данных
df1 = pd.DataFrame({'x_1': ['A', 'B', 'C'] * 3,
                    'y_1': ['D', 'E', 'F'] * 3,
                    'z': np.random.randint(0, 20, 9)})

df2 = pd.DataFrame({'x_2': ['A', 'B', 'C'] * 4,
                    'y_2': ['D', 'E'] * 6,
                    'z': np.random.randint(0, 20, 12)})

In [27]:
print(df1); print('\n'); print(df2)

  x_1 y_1   z
0   A   D  11
1   B   E  15
2   C   F  14
3   A   D   5
4   B   E  16
5   C   F   5
6   A   D   5
7   B   E   2
8   C   F   8


   x_2 y_2   z
0    A   D   2
1    B   E  18
2    C   D   4
3    A   E   9
4    B   D  19
5    C   E   5
6    A   D   5
7    B   E   9
8    C   D   4
9    A   E   2
10   B   D   3
11   C   E   2

In [28]:
# Cлияние фреймов данных (по двум столбцам, внутреннее)
df_3 = pd.merge(df1, df2, 
                how='inner',
                left_on=['x_1', 'y_1'],
                right_on=['x_2', 'y_2'],
                suffixes=['_left', '_right'])
df_3

   x_1 y_1  z_left x_2 y_2  z_right
0    A   D      11   A   D        2
1    A   D      11   A   D        5
2    A   D       5   A   D        2
3    A   D       5   A   D        5
4    A   D       5   A   D        2
5    A   D       5   A   D        5
6    B   E      15   B   E       18
7    B   E      15   B   E        9
8    B   E      16   B   E       18
9    B   E      16   B   E        9
10   B   E       2   B   E       18
11   B   E       2   B   E        9

In [29]:
# Cлияние фреймов данных (по двум столбцам, внешнее)
df_4 = pd.merge(df1, df2, 
                how='outer',
                left_on=['x_1', 'y_1'],
                right_on=['x_2', 'y_2'],
                suffixes=['_left', '_right'])
df_4

    x_1  y_1  z_left  x_2  y_2  z_right
0     A    D    11.0    A    D      2.0
1     A    D    11.0    A    D      5.0
2     A    D     5.0    A    D      2.0
3     A    D     5.0    A    D      5.0
4     A    D     5.0    A    D      2.0
5     A    D     5.0    A    D      5.0
6     B    E    15.0    B    E     18.0
7     B    E    15.0    B    E      9.0
8     B    E    16.0    B    E     18.0
9     B    E    16.0    B    E      9.0
10    B    E     2.0    B    E     18.0
11    B    E     2.0    B    E      9.0
12    C    F    14.0  NaN  NaN      NaN
13    C    F     5.0  NaN  NaN      NaN
14    C    F     8.0  NaN  NaN      NaN
15  NaN  NaN     NaN    C    D      4.0
16  NaN  NaN     NaN    C    D      4.0
17  NaN  NaN     NaN    A    E      9.0
18  NaN  NaN     NaN    A    E      2.0
19  NaN  NaN     NaN    B    D     19.0
20  NaN  NaN     NaN    B    D      3.0
21  NaN  NaN     NaN    C    E      5.0
22  NaN  NaN     NaN    C    E      2.0

2. Находит в датафрейме df4 позиции всех отсутствующих значений 
(формирует список из «координат» таких значений) и заменяет их значением 0

In [30]:
# Для этого можно использовать метод fillna()
df_4.fillna(0)

   x_1 y_1  z_left x_2 y_2  z_right
0    A   D    11.0   A   D      2.0
1    A   D    11.0   A   D      5.0
2    A   D     5.0   A   D      2.0
3    A   D     5.0   A   D      5.0
4    A   D     5.0   A   D      2.0
5    A   D     5.0   A   D      5.0
6    B   E    15.0   B   E     18.0
7    B   E    15.0   B   E      9.0
8    B   E    16.0   B   E     18.0
9    B   E    16.0   B   E      9.0
10   B   E     2.0   B   E     18.0
11   B   E     2.0   B   E      9.0
12   C   F    14.0   0   0      0.0
13   C   F     5.0   0   0      0.0
14   C   F     8.0   0   0      0.0
15   0   0     0.0   C   D      4.0
16   0   0     0.0   C   D      4.0
17   0   0     0.0   A   E      9.0
18   0   0     0.0   A   E      2.0
19   0   0     0.0   B   D     19.0
20   0   0     0.0   B   D      3.0
21   0   0     0.0   C   E      5.0
22   0   0     0.0   C   E      2.0

 3. Добавляет к датафрейму df4 столбец z_avg справа, в котором вычисляется арифметическое среднее (z_left + z_right)/2.

In [31]:
df_4['z_avg'] = (df_4.z_left + df_4.z_right)/2

In [33]:
print(df_4.fillna(0))

   x_1 y_1  z_left x_2 y_2  z_right  z_avg
0    A   D    11.0   A   D      2.0    6.5
1    A   D    11.0   A   D      5.0    8.0
2    A   D     5.0   A   D      2.0    3.5
3    A   D     5.0   A   D      5.0    5.0
4    A   D     5.0   A   D      2.0    3.5
5    A   D     5.0   A   D      5.0    5.0
6    B   E    15.0   B   E     18.0   16.5
7    B   E    15.0   B   E      9.0   12.0
8    B   E    16.0   B   E     18.0   17.0
9    B   E    16.0   B   E      9.0   12.5
10   B   E     2.0   B   E     18.0   10.0
11   B   E     2.0   B   E      9.0    5.5
12   C   F    14.0   0   0      0.0    0.0
13   C   F     5.0   0   0      0.0    0.0
14   C   F     8.0   0   0      0.0    0.0
15   0   0     0.0   C   D      4.0    0.0
16   0   0     0.0   C   D      4.0    0.0
17   0   0     0.0   A   E      9.0    0.0
18   0   0     0.0   A   E      2.0    0.0
19   0   0     0.0   B   D     19.0    0.0
20   0   0     0.0   B   D      3.0    0.0
21   0   0     0.0   C   E      5.0    0.0
22   0   0     0.0   C   E      2.0    0.0